/* CSS Document */

/* - ---------------------------- showcase new ------------------------------------ */

    #sub_menu_v{
      background: #bbf6c3;
    }
    .box-showcase {
       float: left;
       position: relative;
       width: 20%;
       padding-bottom: 15%;
       margin-bottom: 50px;
       cursor: pointer;
    }

    .box-showcase:hover .box-showcaseInner_frame {
      background: #ff4c07;
    }

    .box-showcase:hover .title_menu{
      background: #ff4c07;
      color: #fff;
    }

    .box-showcase:hover .box-showcaseDesc{
      background: #ff4c07;
      color: #fff;
    }
      .box-showcase:hover .box-showcaseDesc_price{
      background: #ff4c07;
      color: #fff;
    }

     .box-showcaseInner_frame {

       position: absolute;
       left: 10px;
       right: 10px;
       top: 46px;
       bottom: 10px;
       overflow: hidden;
       background: #fff;
      border-left:1px solid #d82827;
      border-right:1px solid #d82827;
    }

    .box-showcaseInner {
       position: absolute;
       left: 0px;
       right: 0px;
       top: 0px;
       bottom: 0px;
       overflow: hidden;
       background: #fff;

       /*border-radius: 50%;*/
    }
    .box-showcaseDesc {
      position: absolute;
      left: 10px;
      right: 10px;
      overflow: hidden;
      background: #fff;
      top: 100%;
      margin-top: -10px;
      height: 27px;
      text-align:center;
      border:1px solid #ff4c07;
      border-top: none;
    }

    .box-showcaseDesc_name{
    height:40px;
        color: #C63;
    font-weight:bold;
    padding:10px;
    font-size:14px;

    }



    :hov


    .cls

    element.style {
    }
    .box-showcase:hover .box-showcaseDesc_price {
        background: #ff4c07;
        color: #fff;
    }
    .box-showcaseDesc_price {
        bottom: 0px;
        width: 100%;
        font-size: 15px;
        position: absolute;
        background: #fff;
        padding: 10px;
        color: #999;
        font-weight: bold;
        padding-bottom: 1px;
    }

    .box-showcaseDesc_by{

        bottom: 0px;
    width:100%;
        font-size: 11px;
        font-weight: bold;
        color: #000;
    position:absolute;
    }

   .box-showcaseDesc_date{
        height: 20px;
        bottom: 0px;
    float:right;
        font-size: 11px;
        font-weight: bold;
        color: #999;
    position:absolute;
    text-align:right;
    right:10px;
    }

   .box-showcaseDesc_button{
        width:100%;
    height:50px;
    background:#E98A7E;
    line-height:50px;
    color:#fff;
    }

    .box-showcaseInner .img_class {

       width: 100%;
        opacity: 1;
     transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out;
    }

   .box-showcaseInner .img_class2 {

       height: 100%;
        opacity: 1;
     transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out;
    }






    .box-showcaseInner .titlebox-showcase {
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       margin-bottom: -50px;
       background: #000;
       background: rgba(0, 0, 0, 0.5);
       color: #FFF;
       padding: 10px;
       text-align: center;
       -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
       transition: all 0.3s ease-out;
    }

     .title_menu{
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
      background: #fff;
      border:1px solid #d82827;
      border-bottom:none;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: #d82827;
      padding-top: 1px;
      padding-bottom: 10px;
      height: 55px;
      font-size: 12px;
    }

  	.button_note{
		position:absolute;
		z-index:9999;
		color:#fff;
		right:20px;
		bottom:-20px;
		background:#9CC;
		padding:5px;
	}

    /*.box-showcaseInner:hover .titlebox-showcase, .box-showcaseInner.touchFocus .titlebox-showcase {
       margin-bottom: 0;
    }*/



    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box-showcase {
          width: 100%;
          padding-bottom: 100%;
       }


    }
    @media only screen and (max-width : 800px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box-showcase {
          width: 50%;
          padding-bottom: 50%;
       }

    }
    @media only screen and (max-width : 1050px) and (min-width : 801px) {
       /* Small desktop / ipad view: 3 tiles */
       .box-showcase {
          width: 33.3%;
          padding-bottom: 33.3%;
       }

    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box-showcase {
          width: 25%;
          padding-bottom: 25%;
       }
    }
